<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../static/css/style.css" rel="stylesheet">

	<!-- references for pagination -->
	<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

	<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

	<style type="text/css">
		.card-img-top {width:100%;
					height: 28vw;
		}
		p {font-size: 14px;}

		h1 {font-weight:normal;
    		font-style:normal;
    		font-size:4.75vw;
    		text-align:center;
    		margin-top:10px;
    		margin-bottom:0%;}

    	.col-lg{
			margin-left:50px;
			margin-right:50px;
		}

    	.avenge {
			font-family: "Avengeance";
			padding-top: 30px;
			padding-bottom: 0px;
			text-align: center;
			font-size: 80px;}

		h1 {color: #f7f7f7;
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black
		}
		.scrollouter {
			height: 800px;
  			overflow: hidden;
  			display: flex;
  			flex-direction: column
		}
		.scrollinner {
			overflow-y: scroll
		}
	</style>

</head>
<body style="background-image: url('../static/images/20202.jpg');  background-repeat: no-repeat; background-size: fill; background-position: center center;;">

	<h1 class="avenge"><strong>Comics</strong></h1>
		<div class = "container scrollouter ">
			<div class="card border-0 shadow my-7 scrollinner shadow my-5" style="background-color: #FCF292;">
				<div class="card-body p-3">
					<br>
					<div class="row equal">
						<div class="col-lg">
							<table class= 'table table-hover table-striped table-bordered table-light' id='comics_table'>
								<thead class='thead-dark'>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Title</th>
										<th scope="col">Series</th>
										<th scope="col">Price</th>
										<th scope="col">Characters</th>
									</tr>
								</thead>
								<tbody>
									{% for comic in comics %}
									<tr>
										<td scope="row">{{comic.id}}</td>
										<td>{{comic.title}}</td>
										<td>{{comic.series}}</td>
										<td>${{comic.price}}</td>
										<td>{{comic.characters|length()}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<br><br>
				</div>
			</div>
			<br><br>
		</div>
		<br>
		
<!-- script for pagination -->
<script>
$(function () {
	$('#comics_table').DataTable({
		"pageLength": 40,
		"paging": true,
		"lengthChange": false,
		"ordering": true,
		"info": true,
		"autoWidth": false
	});
});
</script>

</body>
</html>
